table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
    margin:auto;
}


a:link {
    text-decoration: none;
    color: navy;
}

a:visited {
    color: navy;
}

td, th{
  border: 1px solid black;
    border-collapse: collapse;
    width:20%;

}

.top{
  height:30px;
  background-color: green;


}
